*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    background-color: #1f1d1d;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.header{
    height: 60vh !important;

}



.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ff9900;
    color: #fff;
    text-decoration: none;
    background-color: #ff9900;
}

.btn:hover {
    background: none;

}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #171717;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5 rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ff9900;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #ff9900;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 17xp;
    color: #ff9900

}

input , textarea {
    padding: 17px 14px;
    background-color:#171717;
    border: 0;
    font-size: 15px;
    color: #ff9900;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sau {
    padding: 90px;
    background: #1f1d1d;
}

@media (max-width: 768px) {
    
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 130vh;
    }
    
    .navbar {
        display: none;
    }


}